<%- include("partials/header") -%>


<div>
    <% for (i = 0; i < categories.length; i++) { %>
    <h3><%= categories[i].strCategory %></h3>
    <img src=<%= categories[i].strCategoryThumb %> alt="category image">
    <p><%= categories[i].strCategoryDescription %></p>
    <% } %>
</div>

</body>

</html>