<%- include("partials/header") -%>


<div>
    <% for (var i = 0; i < recipes.length; i++) { %>
    <a href="/recipe/<%= recipes[i].idMeal %>"><h3><%= recipes[i].strMeal %></h3></a>
    <img src=<%= recipes[i].strMealThumb %> alt="category image">
    <% } %>
</div>

</body>

</html>