<%- include("partials/header") -%>

    <div>
        <form action="/" method="post">
            <button type="submit" formaction="/random">Random Recipe</button>
        </form>
    </div>

</body>

</html>